* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#envelop::before {
    display: inline-block;
    vertical-align: -0.130em;
    padding-right: 3px;
}
.top-nav {
    font-size: 0.9rem;
    height: 40px;
    z-index: 996;
    text-wrap: wrap;
}
.hero {
    background: url("./images/hero-bg.jpg") top center;
    z-index: 0;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -100px;

}
header {
    top: 40px;
    width: 100%;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
    font-size: 1rem;
    display: block;
}
.logo a {
    font-size: 2rem;
    font-weight: 800;
    color: #2c4964;
}
.bt {
    border-radius: 30px;
}
.hero .container {
    top: 35%;
    line-height: 6;
}
#learn-more-btn {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.why-card {
    padding: 40px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.why-main {
    position: absolute;
    z-index: 999;
    
}
.d-lg-block i {
    padding-right: 10px;
}
nav > ul > li {
    white-space: nowrap;
    padding: 8px 0 3px 20px;
    position: relative;
}
ul a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    padding: 5px 3px
}
.apt-btn {
    margin-left: 24px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    padding: 8px 25px;
    background: #1977cc;
    border-radius: 50px;
    font-weight: 400;
    color: #fff;
}
.humbergur {
    color: #2c4964;
    font-size: 28px;
    line-height: 0;
    cursor: pointer;
    display: none;

}
.navbar-mobile ul li{
    cursor: pointer;
}
.unorderList li{
    display: block;
}
.cross {
    position: absolute;
        display: block;
        font-size: 1.8rem;
        top: -50px;
        right: 30px;
        background: transparent;
    display: none;
    border: none;
}
@media (max-width: 991px) {
    .humbergur{
        display: block;
        border: none;
        background: transparent;
    }
   
     .navbar-mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(28, 47, 65, 0.9);
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 25px;
    }
    .navbar-mobile ul{
        display: block;
       width: 100%;
       height: 100%;
       flex-direction: column;
       justify-content: start;
    background-color: #fff;    
} 

.navbar ul li{
    align-self: start;
}
.unorderList li{
    display: block;
}


}


