@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* top header section */

.hotline i {
  font-size: 0.95rem;
  color: #1977cc;
}
.hotline a {
  font-size: 1.15rem;
}
.hotline span {
  font-size: 0.9rem;
}
#top-header {
  z-index: 3;
  transition: all 0.5s;
}
.header {
  z-index: 5;
  transition: all 0.5s;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  top: 43px;
}

@media (max-width: 590px) {
  .header { top: 35px ;}
}
.header-scrolled {
  top: 0;
}
.topbar-scrolled {
  top: -40px;
}

.logo a {
  font-size: 2rem;
  font-weight: 800;
  color: #2c4964;
}
.bt {
  border-radius: 30px;
}
.bt i {
  font-size: 12px;
}
.hero .container {
  top: 35%;
  line-height: 6;
}
#learn-more-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.why-card {
  padding: 40px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.why-main {
  position: absolute;
  z-index: 999;
}
.d-lg-block i {
  padding-right: 10px;
}
.unorderList li{
  white-space: nowrap;
  padding: 8px 0 3px 20px;
  position: relative;
}
.unorderList li a::before {
  content: "";
  position: absolute;
  display: block;
  overflow: hidden;
  background-color: #1977cc;
  height: 2px;
  width: 0px;
  bottom: 0;
  left: 0;
}
.unorderList li a:hover::before {
  width: 100%;
}
.unorderList li a{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
  padding: 5px 3px;
  color: #000;
}
.unorderList li a:hover{
  color: #1977cc;
}
.active-menu{
  color: #1977cc !important;
}
.active-menu::after {
    content: "";
    position: absolute;
    display: block;
    overflow: hidden;
    background-color: #1977cc;
    
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

.apt-btn {
  margin-left: 24px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  padding: 8px 25px;
  background: #1977cc;
  border-radius: 50px;
  font-weight: 400;
  color: #fff;
}
.apt-btn:hover {
  color: #fff;
  background-color: #03294b;
}
.humbergur {
  color: #2c4964;
  font-size: 28px;
  line-height: 0;
  cursor: pointer;
  display: none;
}
.navbar-mobile ul li {
  cursor: pointer;
}
.unorderList li {
  display: block;
}
.close-btn{
    cursor: pointer;
    font-size: 22px;
    position: fixed;
    top: 15px;
    right: 25px;
    color: white;
    z-index: 5;
    display: none;
}
div svg {
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .unorderList li a:hover::before {
    width: 0;
  }
  .active-menu::after {
    width: 0;
  }
  .humbergur {
    display: block;
    border: none;
    background: transparent;
  }

  .navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(28, 47, 65, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 20px 20px;
    display: none;
  }
  .navbar-mobile ul {
    display: block;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
  }

  .navbar ul li {
    align-self: start;
  }
  .unorderList li {
    display: block;
  }
}

/* hero section */

.hero {
    background: url("../images/banner/hero-bg.jpg") top center;
    z-index: 0;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -100px;
  }

  
/* start homestyle */
/* # Sections General */
section {
  padding: 50px 0;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.section-bg {
  background-color: #f1f7fd;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title p {
  margin-bottom: 0;
}

/* start about section */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.align-items-stretch {
  align-items: stretch !important;
}
.justify-content-center {
  justify-content: center !important;
}

.position-relative {
  position: relative !important;
}
.d-flex {
  display: flex !important;
}

@media (min-width: 992px) {
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .align-items-stretch {
    align-items: stretch !important;
  }
  .justify-content-center {
    justify-content: center !important;
  }
  .flex-column {
    flex-direction: column !important;
  }
  .d-flex {
    display: flex !important;
  }
}

.about .icon-boxes h4 {
  font-size: 18px;
  color: #4b7dab;
  margin-bottom: 15px;
}
.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #2c4964;
  margin-bottom: 15px;
}

.icon-box a {
  text-decoration: none;
}

.about .icon-box {
  margin-top: 40px;
  text-decoration: none;
}

.about .icon-box .icon {
  float: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #8dc2f1;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #1977cc;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #1977cc;
  border-color: #1977cc;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #1977cc;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background: url("../images/about/about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(25, 119, 204, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #1977cc;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #f1f7fd;
  padding: 70px 0 60px;
}
.count-box span {
  font: 800 40px system-ui;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #082744;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #1977cc;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}

.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(25, 119, 204, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
  z-index: -1;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #2c4964;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  background: #1977cc;
  border-color: #1977cc;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #1977cc;
}

.services .icon-box:hover .icon::before {
  background: rgba(255, 255, 255, 0.3);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff;
}

/* appointment */
.appointment .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .error-message br + br {
  margin-top: 25px;
}

.appointment .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.appointment .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.appointment .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}

.appointment .php-email-form input:focus,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
  border-color: #1977cc;
}

.appointment .php-email-form input,
.appointment .php-email-form select {
  height: 44px;
}

.appointment .php-email-form textarea {
  padding: 10px 12px;
}

.appointment .php-email-form button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.appointment .php-email-form button[type="submit"]:hover {
  background: #1c84e3;
}

/*start footer style */
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #1c84e3;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;

}


/* ------------------ all headers text section  ------------------  */
.main-title {
  position: relative;
  color: #2c4964;
  padding: 10px 0;
  font-size: 1.9rem;
  font-weight: 600;
}

.main-title::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100px;
  height: 1px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: #3291e6;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 30px;
  height: 3px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: #18466e;
}

/* ------------------ doctor card section  ------------------  */
.doctor .card{
  box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
}
.doctor-card {
  border-radius: 7px;
}
.img-container {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.doctor-card img {
  transition: ease-in-out 0.3s;
}

.doctor-card img:hover {
  transform: scale(1.1);
}
.detail-card {
  line-height: 15px;
}

.detail-card .sub-header {
  position: relative;
}
.detail-card .sub-header::before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 47px;
  height: 1.5px;
  background-color: #b2c8dd;
}

/* --- social media --- */

.social-media ul li {
  border-radius: 50%;
}
.social-media ul li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a0bcd5;
}
.social-media ul li a:hover {
  transition: ease-in-out 0.5s;
  background-color: #1977cc;
}

@media only screen and (max-width: 600px) {
  .img-container {
    overflow: hidden;
    max-width: 80px;
    border-radius: 50%;
  }
  .img-container img {
    transition: all 2s;
  }
}

/* ------------------ Frequently ------------------*/

.questions {
  background-color: #f1f7fd;
}
.accordion {
  padding: 0 100px;
}
.accordion-button {
  outline: none !important;
  box-shadow: none !important;
}
.accordion-item:not(.active) .accordion-button {
  background-color: transparent !important;
}
.accordion-item .accordion-button:focus {
  color: #1977cc;
}
.accordion-item .accordion-button:hover {
  color: #3291e6;
}

.accordion-item .accordion-button:not:focus {
  color: transparent !important;
}

.accordion-item {
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .accordion {
    padding: 0;
  }
  .swiper-slide {
    display: block !important;
  }

}

/* ------------------ doctor card section  ------------------  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-container {
  margin: 0 0 0 65px;
}

.testimonial-wrap {
  box-sizing: content-box;
  padding: 50px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
  position: relative;
  background: #fff;
}
.testimonial-wrap img {
  position: absolute;
  top: 35px;
  left: -45px;
  width: 90px;
  height: 90px;
  border-radius: 7px;
  border: 5px solid white;
}

.testimonial-wrap h3 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 15px;
}

.testimonial-wrap h3 + p {
  font-size: 0.9rem;
}

.testimonial-wrap p + p {
  font-style: italic;
  font-size: 0.95rem;
  margin-top: -2px;
}

.testimonial-wrap .quote-icon-left,
.testimonial-wrap .quote-icon-right {
  font-size: 1.5rem;
  color: #a0bcd5;
}
.testimonial-wrap .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonial-wrap .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  bottom: -1rem;
}

@media (max-width: 767px) {
  .testimonial-wrap img {
    position: static;
    left: auto;
  }

  .testimonial-wrap {
    flex-direction: column;
    padding: 30px;
    margin: 15px;
  }
  .testimonial-container{
    margin: 0;
  }
}

/* ------------------ gallery section  ------------------  */

.gallery {
  padding: 15px 0;
}

.gallery-container > div {
  padding: 3px;
}

.gallery-container img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  transition: ease-in-out 0.7s;
}

.image-wrapper {
  overflow: hidden;
}
.gallery-container img:hover {
  overflow: hidden;
  transform: scale(1.2);
}

.swiper-pagination {
  bottom: 5px !important;
  color: solid black;
  height: 20px;
}

.swiper-pagination-bullet {
  padding: 5px;
  background-color: transparent;
  border: 2px solid #1977cc;
}
.swiper-pagination-bullet-active {
  background-color: #1977cc;
}

.mySwiper {
  padding: 65px 0;
}


.departments {
    overflow: hidden;
}

.departments .nav-tabs,
.departments .nav-link {
    border: 0;
}

.departments .nav-link {
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font: 600 15px;
}

.departments .nav-link:hover,
.departments .nav-link.active {
    color: #1977cc;
}

.departments .nav-link.active {
    border-color: #1977cc;
}

.departments .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
}

.departments .details h3 {
    font: 600 26px;
    margin-bottom: 20px;
    color: #2c4964;
}

.departments .details p {
    color: #777777;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .departments .nav-link {
        border: 0;
        padding: 15px;
    }
    .departments .nav-link.active {
        color: #fff;
        background: #1977cc;
    }
}

.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info i {
    font: 20px/44px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font: 600 22px;
    margin-bottom: 5px;
    color: #2c4964;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #1977cc;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #1c84e3;
}


/* footer section */

#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f7fd;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1c84e3;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #1977cc;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1977cc;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #1c84e3;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1977cc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;

}


/* top button */

.button-top i{
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: #1977cc;
  padding: 11.33px 13px;
  font-size: 1.5rem;
  border-radius: 3px ;
  display: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
  animation: topbutton .8s forwards;
  z-index: 5;
}

@keyframes topbutton {
  from {bottom: 70%;}
  to {bottom: 10px;}
}

.button-top i:hover{
  color: rgb(160, 147, 147);
  background-color: #1865a8;
}

